/*CSS CODE*/
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #74ebd5, #9face6);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  transition: background 0.3s, color 0.3s;
}

body.dark-mode {
  background: #333;
  color: #fff;
}

.form-container {
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 500px;
  position:relative;
}

body.dark-mode .form-container {
  background: #444;
}

.form-container h1 {
  text-align: center;
  color: #6a11cb;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-record {
  background: #6a11cb;
  color: #fff;
}

.btn-record:hover {
  background: #2575fc;
}

.btn-clear {
  background-color: #ff4d4d; /* Red color for reset button */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-clear:hover {
  background-color: #cc0000;
}

.btn-submit {
  background: #51d155;
  color: white;
}

.btn-submit:hover {
  background: #0c8312;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.error {
  color: red;
  font-size: 12px;
  display: none;
}

.valid {
  color: green;
  font-size: 12px;
  display: none;
}

.highlight {
  border: 2px solid #FF5733;
}
